.nav-item {
  margin: 0;
  padding: 11px 0 11px 0;
  width: 50%;
  line-height: 1.5;
  font-size: 12px;
  font-family: "NhacCuaTui", sans-serif;
  cursor: pointer;
  &:hover {
    color: #3bb9eb;
  }
  .nav-item-left {
    margin-right: 5px;
    color: #000;
    font-size: 12px;
  }
}
