.music {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
  border-bottom: #f3f3f3 solid 1px;
  padding: 0 0 10px 0;
  width: 300px;
  font-family: "NhacCuaTui", sans-serif;
  .info-song {
    width: 253px;
  }
}
