.large-video-name {
  width: 350px;
  min-height: auto;
  margin: 0;
  overflow: hidden;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-shadow: 0 1px 1px rgb(37, 37, 37);
  cursor: pointer;
  &:hover {
    color: rgb(0, 204, 255);
    transition: all 0.5 linear;
  }
}
