.large-box-absolute {
  position: relative;
  width: 100%;
  height: 230px;
  cursor: pointer;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:hover .overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  &:hover .name-video-large .large-video-name {
    transition: all 0.5 linear;
    color: #3bb9eb;
  }
  &:hover .bg-video .icon-play {
    transition: opacity 0.5s linear;
    opacity: 1;
  }
}
