.icon-listen {
  position: absolute;
  right: 0;
  top: 15px;
  margin: 1px 0 0 0;
  padding-left: 15px;
  color: #747272;
  font-size: 13px;
  line-height: 24px;
  .icon {
    font-size: 14px;
  }
  .icon-action {
    margin-left: 6px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: rgb(0, 204, 255);
      // transform: rotate(180deg);
    }
  }
}
