.name-song {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 0;
  overflow: hidden;
  margin: 0 0 5px 0;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: "NhacCuaTui", sans-serif;
  cursor: pointer;
  &:hover {
    transition: all 0.5 linear;
    color: rgb(0, 204, 255);
  }
}
