.search {
  margin-top: 6px;
  border-radius: 16px;
  background-color: #fff3e1;
  width: 200px;
  height: 32px;
  font-size: 12px;
  font-family: "NhacCuaTui", sans-serif;
  .form-search {
    width: 100%;
    input {
      box-sizing: none;
      width: 100%;
      outline: none;
      border: 0;
    }
    :focus {
      box-sizing: none;
      outline: none;
      border: 0;
    }
    :hover {
      color: #111;
    }
  }
}
