.album {
  position: relative;
  margin-bottom: 8px;
  background: #000;
  width: 152px;
  height: 152px;
  overflow: hidden;
  &:hover {
    .icon-play {
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
  .avatar {
    position: absolute;
    width: 152px;
    height: 152px;
  }
}
