.box-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  .top-100-title {
    margin: 45px 5px 10px 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-family: "NhacCuaTui", sans-serif;
  }
  .top-100-line {
    margin-top: 60px;
    background-color: #747455;
    width: 43px;
    height: 1px;
  }
}
