.suggestion-for-you {
  .suggestion {
    padding-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-detail {
    margin: 16px 17px 0 17px;
    color: rgba(255, 255, 255, 0.5);
  }
}
