.btn-playlist {
  position: relative;
  z-index: 2;
  width: 160px;
  height: 48px;
  margin: 0 auto;
  margin-top: 24px;
  overflow: hidden;
  font-family: "NhacCuaTui", sans-serif;
  color: #2daaee;
  background-color: #fff;
  border-radius: 24px;
  .icon-play {
    position: absolute;
    top: 13px;
    left: 26px;
    font-size: 22px;
  }
  .text-detail {
    position: absolute;
    top: 14px;
    left: 50px;
    font-size: 14px;
    font-weight: 400;
  }
}
