.last-navigation {
  margin: 0 48px 0 0;
  width: calc(33.333333% - 48px);
  .f-title {
    margin: 40px 0 8px 0;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    font-weight: bold;
    &.in-col {
      margin: 15px 0 16px 0;
    }
  }
}
