.top-hundred-wrapper {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  .all {
    position: absolute;
    bottom: 0;
    right: 2px;
    background-color: #0eaae5;
    cursor: pointer;
    span {
      padding: 3px 16px;
      color: #fff;
      text-decoration: none;
      font-size: 13px;
      font-family: "NhacCuaTui", sans-serif;
    }
  }
}
