.icon-permission {
  width: 120px;
  height: 126px;
  margin: 0 32px 0 0;
  background: url("https://stc-id.nixcdn.com/v11/images/footer/t_bo_cong_thuong.png") center center no-repeat;
  background-size: contain;
}
