.album-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  .box-album {
    display: flex;
    flex-direction: column;
    width: 152px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
