.song-action {
  position: absolute;
  right: 0;
  top: 15px;
  margin: 1px 0 0 0;
  padding-left: 15px;
  line-height: 24px;
  color: #747272;
  font-size: 13px;
  .icon-action {
    width: 12px;
    height: 12px;
  }
}
