.song {
  display: flex;
  flex-direction: row;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  cursor: pointer;
  .info-song {
    width: 230px;
    .name-song {
      display: block;
    }
  }
}
