.title-box-key {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
  width: auto;
  text-transform: uppercase;
  line-height: 36px;
  font-size: 26px;
  font-weight: 400;
  .title {
    position: relative;
    padding: 0 20px 0 0;
    text-transform: uppercase;
    font-weight: 400 !important;
    cursor: pointer;
    .title-name {
      margin-right: 10px;
    }
    .icon-title-box-key {
      position: absolute;
      top: 11px;
      right: 0;
      font-size: 18px;
    }
  }
}
