.btn-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 99px;
  height: 100%;
  color: #333;
  font-size: 14px;
  font-family: "NhacCuaTui", sans-serif;
  cursor: pointer;
  &:hover {
    background: #e74c3c;
    color: #fff;
  }
  &.active {
    background: #e74c3c;
    color: #fff;
  }
}
