.footer-cooperation-list-wrapper {
  position: relative;
  width: 1170px;
  height: 100px;
  overflow: hidden;
  .btn-prev {
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 0;
    width: 25px;
    height: 50px;
    background: #cccc;
  }
  .btn-next {
    position: absolute;
    z-index: 100;
    top: 20%;
    right: 0;
    width: 25px;
    height: 50px;
    background: #cccc;
  }
}
