.bg-video {
  cursor: pointer;
  .image {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }
  .icon-play {
    position: absolute;
    z-index: 101;
    top: 42%;
    left: 47%;
    margin: -14px 0 0 -14px;
    width: 48px;
    height: 48px;
    opacity: 0;
    visibility: visible;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &:hover .icon-play {
    opacity: 1;
    transition: all 0.5s ease;
  }
}
