.detail-info-company {
  .f-name {
    margin: 0 0 8px 0;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.4;
    color: #5f5e5e;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
  }
  .f-detail {
    margin-bottom: 0;
    width: 100%;
    line-height: 22px;
    color: #5f5e5e;
    font-size: 13px;
  }
}
