.logo-company {
  display: block;
  width: 80px;
  height: 96px;
  background: url("https://stc-id.nixcdn.com/v11/images/footer/t_logo_company.png") center center no-repeat;
  background-size: contain;
  margin: 0 32px 0 0;
}
